<h2>ユーザー編集</h2>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :employee_id, "ユーザーID" %>
    <%= f.text_field :employee_id, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :user_name, "社員名" %>
    <%= f.text_field :user_name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :department, "所属部署" %>
    <%= f.text_field :department, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>

  <%= f.submit "更新する", class: "btn btn-success" %>
  <%= link_to "キャンセル", users_path, class: "btn btn-secondary ml-2" %>
<% end %>