<h1 class="text-center">案件詳細</h1>

<div class="container">
  <table class="table table-bordered">
    <tr><th>顧客名</th><td><%= @project.customer_name %></td></tr>
    <tr><th>営業拠点</th><td><%= @project.sales_office %></td></tr>
    <tr><th>営業担当</th><td><%= @project.sales_representative %></td></tr>
    <tr><th>依頼区分</th><td><%= Project.request_types.key(@project.request_type.to_i) || "未設定" %></td></tr>
    <tr><th>依頼内容</th><td><%= Project.request_contents.key(@project.request_content.to_i) || "未設定" %></td></tr>
    <tr><th>受注日</th><td><%= @project.order_date %></td></tr>
    <tr><th>納期</th><td><%= @project.due_date %></td></tr>
    <tr><th>売上</th><td><%= @project.revenue %></td></tr>
    <tr><th>コスト</th><td><%= @project.cost %></td></tr>
    <tr><th>利益</th><td><%= @project.profit %></td></tr>
    <tr><th>備考</th><td><%= @project.remarks %></td></tr>
  </table>

  <h2>現在の添付資料</h2>
  <% if @project.attachments.attached? %>
    <% @project.attachments.each do |attachment| %>
      <div>
        <%= link_to attachment.filename, rails_blob_url(attachment), target: "_blank", class: "btn btn-link" %>
      </div>
    <% end %>
  <% else %>
    <p>添付ファイルはありません。</p>
  <% end %>


  <div class="text-center mt-4">
    <%= link_to "編集", edit_project_path(@project), class: "btn btn-warning btn-lg" %>
    <%= button_to "削除", project_path(@project), method: :delete, class: "btn btn-danger btn-lg", data: { confirm: "本当に削除しますか？" } %>
    <%= link_to "案件一覧へ戻る", projects_path, class: "btn btn-primary" %>
  </div>
</div>